/********************
YOUR STYLES
*******************/

* {box-sizing:border-box;}


article {
    margin: 0 auto;
    padding: 3em;
}

h1 {
    color: whitesmoke;
	font-family: 'Gloria Hallelujah', cursive;
    font-size: 3em;
    text-transform:capitalize;
    text-align: center;  
}

h3 {
    color: whitesmoke;
	font-size:14px;
	font-family: 'Gloria Hallelujah', cursive;
	}

img {
    width: 270px;
}

ul {
    display: block;
    font-family: 'Gloria Hallelujah', cursive;
    list-style-type:none;
}

/* frist frame */
.char1,
.char2,
.char3,
.char4,
.char5,
.char6,
.char7,
.char8,
.char9,
.char10,
.char11,
.char12,
.char13,
.char14,
.char15,
.char16 {    
    display:inline-block; 
    letter-spacing: 7px;
    padding: .1em;
    transition: transform .5s;
}

/* last frame */
.char1:hover,
.char3:hover,
.char5:hover,
.char7:hover,
.char9:hover,
.char11:hover,
.char13:hover
.char15:hover {
    transform: rotate(-15deg) scale(1.2)
}

.char2:hover,
.char4:hover,
.char6:hover,
.char10:hover,
.char12:hover,
.char14:hover,
.char16:hover {
    transform: rotate(20deg) scale(0.75)
}
	
/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

/* Masonry Styling */
section {
  box-shadow: inset 0 0 50px whitesmoke;
    float: left;
  padding: 1em;
  margin-bottom: 10px;
  width: 300px;
}

.tall {
  height: 420px;
}

.med {
  height: 275px;
}

.short {
  height: 200px;
}
	
/* keyframe animation @keyframes rubberband dwonload from animate.css*/
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

article img:hover {
    animation: rubberBand 1s infinite;
}

/*masonry*/
p{
    color: whitesmoke;
    font-size:11px;
	font-family: 'Gloria Hallelujah', cursive;
	padding:1em;
    display: inline-block;
    opacity: 0.9;
    width: 275px; 
}

/********************
MEDIA QUERIES
*******************/

/* Mobile */
@media (min-width: 480px) {
    body {
       background-color: mediumpurple;
  }
}

/* Tablet */
@media (min-width: 768px) {
    body {
       background-color: gray;
  }
}

/* Desktop */
@media (min-width: 1200px) {
    body {
       background-color: black;
  }
}